<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pintotplsipreciomayor</name>
	<displayName><![CDATA[Pinto TPL si precio es mayor a X]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Pinto TPL si precio es mayor a X]]></description>
	<author><![CDATA[Juan Manuel L.D.]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
